@import '../utils/styles';

.timeline {
	padding: $clock-height + $gutter 0 $gutter;
	overflow-x: hidden;
	overflow-y: scroll;
	list-style-type: none;
	margin: 0;
	user-select: none;
}

.item {
	display: block;
	border-bottom: 1px solid $color-light;
	padding: $gutter;

	&.late {
		background-color: $color-negative;
	}
	&.completed {
		background-color: $color-positive;
	}
	&:first-child {
		border-top: 1px solid $color-light;
	}
}

.up-next {
	font-size: 4vw;
}
